@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(18, 0, 81);
  background-size: cover;
  background-position: center;
}

/* Header */
.header {
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link,
.nav_logo,
.button {
  color: white;
  font-size: 22px;
}
.nav_link:hover {
  color: rgb(213, 213, 213);
}
.button {
  padding: 5px 25px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: black;
  transition: background-color 1s ease;
}
.button:active {
  transform: scale(0.95);
}
/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
}
.home::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* Form */
.form_container {
  position: absolute;
  max-width: 350px;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 22px;
  opacity: 0.8;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: rgb(30, 5, 125);
  text-align: center;
}
.form_container a {
  color: rgb(30, 5, 125);
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: gray;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid black;
}
.input_box input:focus {
  border-color: rgb(30, 2, 131);
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: rgb(30, 2, 131);
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  color: gray;
  cursor: pointer;
}
.option_field {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox {
  display: flex;
  white-space: nowrap;
  column-gap: 8px;
}
.checkbox input {
  accent-color: rgb(30, 2, 131);
}
.checkbox label {
  color: black;
  font-size: 12px;
  user-select: none;
}
.form_container .button {
  background-color: rgb(30, 2, 131);
  margin-top: 25px;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
}
.form_container .button:hover {
  background-color: rgb(18, 0, 81);
  color: white;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
